@{
    Layout = "~/Layouts/Division2/_Layout.cshtml";
    Page.Title = "Terminal World";

    Page.Versions = "<a href=\"http://htkb.dyndns.org/Division2/Project8.html\">HTML</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Division2/Project8.php\">PHP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Division2/Project8.shtml\">Perl</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/SSI/Division2/Project8.html\">Apache SSI</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/Javascript/Division2/Project8.html\">HTML Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/JQuery/Division2/Project8.html\">JQuery</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org/AngularJS/Division2/Project8.html\">Angular JS</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSFApplication/Division2/Project8.xhtml\">JSF</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/JSPApplication/Division2/Project8.jsp\">JSP</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:8080/SpringMVC/Division2/Project8.jsp\">JSP Spring MVC</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASPNET/Division2/Project8.aspx\">ASP.NET Javascript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/ASP/Division2/Project8.asp\">ASP VBscript</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/WebForm/Division2/Project8.aspx\">ASP.NET Webform</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:81/MVC/Main/Division2/Project8\">ASP.NET MVC App</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:82/Division2/Project8\">Python Web.py</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:83/Division2/Project8\">Ruby on Rails</a><br>";
    Page.Versions += "<a href=\"http://htkb.dyndns.org:84/Division2/Project8\">Node JS</a><br>";
}

<div id="idCenterContent">
    This section is dedicated to the simulation MMO centered project "Terminal World".  This is a virtual environment where a zombie outbreak is about to happen.  Can you beat the zombies?  Can you survive?
</div>